LIBSQL_URL=file:./data/db/dashdoor.db
DELIVERY_LIBSQL_URL=file:./data/db/delivery.db
MERCHANT_LIBSQL_URL=file:./data/db/merchant.db
PREFIX_URL=https://meta-ui-images.s3.us-west-2.amazonaws.com/
NEXT_PUBLIC_RECO_DEMO=
